# Virtual environment
.venv/
venv/
env/

# Credentials
*.toml
credential.toml

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
# Database
*.dbm
*.db
*.sqlite3

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Distribution / packaging
build/
dist/
*.egg-info/
*.txt



#temporal
view/